@import '../../variables.scss';

.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 340px;
  height: 440px;
  padding: 20px 20px 20px 20px;
  border-radius: 30px;
  background-color: $color-dark-blue;
}
