@import '../../variables.scss';

.buttonsContainer {
  height: 85%;
  padding: 20px 20px 20px 20px;
  background-color: $color-green;
  border-radius: 30px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 10px;
  align-items: center;
  justify-items: center;
}

button {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  border: none;
  background-color: $color-yellow;
  color: $color-light-blue;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  outline: none;
}

.equals {
  grid-column: 3 / 5;
  color: $color-white;
  width: 100%;
  background-color: $color-pink;
}
